<div class="container">
  <div class="text-center">
    <h1 class="my-4">Qui sommes nous ?
      <!--<small>Permis à points </small>-->
    </h1>
  </div>
  <br>
      <p class="text-apropos">
        Fin 2017, Damien NARSAPA crée l’entreprise « Permis à points 974 » qui est un centre agrée
        par la préfecture de la Réunion pour l’organisation de stages de sensibilisation à la sécurité
        routière. <br>
        Psychologue clinicien formé en Australie et à Paris, il décide de créer cette entreprise afin de
        proposer des stages plus humains et centrés sur le bien-être du conducteur.
        Sa philosophie est que l’on peut aborder des sujets sérieux sans trop se prendre au sérieux.
        Attitude bienveillante, non jugement et écoute sont les aspects les plus importants lorsque
        l’on effectue de la formation pour adulte.
        Dans le domaine de la sécurité routière, il est également spécialisé dans la passation des
        tests psychotechniques.
        D’un point de vue clinique et thérapeutique, Damien NARSAPA propose dans son cabinet
        situé dans le nord de l’île des thérapies par la respiration et des séances de méditation en
        plein air.
        Ces thérapies ont pour finalité la réalisation par l’individu de son potentiel inexploité.
      </p>

      <!-- Team Members Row -->
      <div class="row">
        <div class="col-lg-12">
          <h2 class="my-4">L'équipe</h2>
        </div>
        <br>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="damien.jpg" alt="">
          <h3>Damien NARSAPA <br>
            <small>Fondateur et DG <br>de Permisàpoints974</small>
          </h3>
        </div>
      </div>
</div>

      <div class="row">
        <div class="container">
        <div class="col-lg-12">
          <div class="text-center">
            <br><br>
          <h2 class="my-4">Documents </h2>
          <br><br><br>
          </div>
        </div>
        <br>
        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="doc1.jpg" alt="">
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="doc2.jpg" alt="">
        </div>

        <div class="col-lg-4 col-sm-6 text-center mb-4">
          <img class="rounded-circle img-fluid d-block mx-auto" src="doc3.jpg" alt="">
        </div>
        </div>
      </div>


    </div>
    <!-- /.container -->
