<div class="container">
  <div class="row">
    <div class="text-center">
      <h4 style="margin-top:100px;margin-bottom:100px;">Le stage est présenté par Damien NARSAPA, <br>
      Vous pouvez me contacter au : 06 93 46 30 64  <br>
      ou par mail damien.narsapa@permisapoints974.re
     </h4>
    </div>
   </div>
</div>
