<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>Organisation et contenu du stage.</h3>
    </div>
    <p>
      Les intervenants sont deux professionnels ont tous deux été formés pendant plusieurs semaines
      à l’INSERR (Institut National de Sécurité Routière). <br>
      Le psychologue
      Le psychologue aborde tous les processus psychologiques que les conducteurs utilisent de façon
      inconsciente dans la tâche de conduite et qui conduisent aux infractions ou aux accidents et ce,
      malgré des compétences techniques indéniables à la conduite du véhicule. <br> <br>
      L’animateur BAFM
      Le formateur de moniteur d’auto-école travaille sur les aspects techniques de la conduite, le
      comportement du véhicule en situation de freinage urgent par exemple.
      L’esprit du stage est d’amener les participants à :
    </p>

  <ul>
   <li>Mettre en commun leur expérience et leur perception de la route avec
      les autres participants afin d&#39;amener une prise de conscience de la
      nécessité du partage de la route
    </li>
   <li>
     Réfléchir à la notion d&#39;habitude et comprendre pourquoi les accidents
se passent plus fréquemment près de chez soi.

   </li>
   <li>
      Aborder via un cas pratique les circonstances qui amènent à
l'accident.

   </li>
   <li>
     Se constituer un langage commun en prenant connaissance des
chiffres statistiques de la sécurité routière à la Réunion et dans le
monde des années 70 à nos jours.

   </li>
   <li>
     Comprendre les mécanismes physiques et cognitifs inhérents à la
conduite.

   </li>
   <li>
     Comprendre les dangerosité de la conduite sous l&#39;emprise de la
fatigue, de l&#39;alcool et des autres substances.

   </li>

   <li>
     Mettre en place des stratégies leur permettant d&#39;éviter de perdre leurs
points dans le futur.

   </li>
  </ul>
  <p>
    Une attestation délivrée en fin de stage témoigne de la
reconstitution des points.
Celle-ci prend effet dès le lendemain. Inscrivez-vous dés maintenant ci-dessous.

  </p>
  </div>
</div>
