<section id="projects" class="projects-section bg-light">
  <div class="container">
        <!-- Featured Project Row -->
  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-left: 0px;padding-right: 0px; height:500px!important">
      <img class="img-responsive" src="VISUEL-SLIDER.copie.png" alt="" style="min-height:390px!important">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 hidden-xs" style="padding-left: 0px;padding-right: 0px;">


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox" style=" height:10%">
    <div class="item active">
     <img src="/man.jpg" class="img-responsive" alt="Chania" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile3.jpg" class="img-responsive" alt="Chania" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile1.jpg" class="img-responsive" alt="Flower" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile2.jpg" class="img-responsive" alt="Flower" style="width:100%; min-height:380px!important">
    </div>


  </div>

  <!-- Left and right controls -->

</div>
    </div>
    </div>
  </div>


</section>
