<section id="projects" class="projects-section bg-light">
  <div class="container">
        <!-- Featured Project Row -->
  <div class="row align-items-center no-gutters mb-4 mb-lg-5">
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6" style="padding-left: 0px;padding-right: 0px; height:500px!important">
      <img class="img-responsive" src="VISUEL-SLIDER.copie.png" alt="" style="min-height:390px!important">
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 hidden-xs" style="padding-left: 0px;padding-right: 0px;">


<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
   <div class="carousel-inner" role="listbox" style=" height:10%">
    <div class="item active">
     <img src="/man.jpg" class="img-responsive" alt="Chania" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile3.jpg" class="img-responsive" alt="Chania" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile1.jpg" class="img-responsive" alt="Flower" style="width:100%; min-height:380px!important">
    </div>

    <div class="item">
     <img src="/automobile2.jpg" class="img-responsive" alt="Flower" style="width:100%; min-height:380px!important">
    </div>


  </div>

  <!-- Left and right controls -->

</div>
    </div>
    </div>
  </div>


</section>
</section>
<div class="container">
 <div class="row">
    <div class="text-center">
    <h1 class="baseline">Stage de récupération de points à l'île de la reunion</h1>
    </div>
    <div class="col-md-6">
      <div class="text-center">
      .
      </div>
      <h3 class="text-stage">
        Après avoir commis plusieurs infractions,
        et avant que le solde de points d’un permis de conduire n’arrive à zéro,
         chaque conducteur a la possibilité d’effectuer un stage de récupération
         de points.
      </h3>
    </div>
    <div class="col-md-6">
      <div class="text-center">
        .
      </div>
     <h3 class="text-stage">
       Vous pouvez vous inscrire à un stage y compris pendant
        une suspension de permis de conduire, à condition d’avoir un permis valide. Votre dernier stage doit dater de plus de 1 an et 1 jour.
     </h3>
    </div>
 </div>
</div>

<section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Que dit la loi ?</h1>
      <br>
        <p class="lead text-muted">
          Un conducteur peut récupérer 4 points sur son permis de conduire
          en participant à un stage de récupération points de manière volontaire ou obligatoire dés lors qu’il a perdu des points.
          Il doit respecter certaines conditions :
        </p>
        <br><br><br>
        <div class="row">
         <div class="col-lg-3 col-sm-3">
           <div class="text-center">
             <i class="fas fa-times-circle"></i>
           </div>
           <br>
          <p>	Ne pas avoir participé à un stage
             de récupération de points depuis 1 an et un jour.</p>
         </div>

         <div class="col-lg-3 col-sm-3">
           <div class="text-center">
            <i class="fas fa-address-card"></i>
           </div>
           <br>
          <p>Avoir un permis valide, c’est à dire ne pas avoir reçu de lettre 48SI.</p>
         </div>

         <div class="col-lg-3 col-sm-3">
           <div class="text-center">
          <i class="fas fa-file-powerpoint"></i>
           </div>
           <br>
           <p>Avoir perdu des points</p>
         </div>

         <div class="col-lg-3 col-sm-3">
           <div class="text-center">
            <i class="fas fa-file-powerpoint"></i>
           </div>
           <br>
           <p>Pour les permis probatoires ayant perdu 3 points ou plus, être en possession de la lettre 48N</p>
         </div>
         <div class="text-center">
          <i class="fas fa-exclamation-triangle"></i>
         </div>
         <p class="lead text-muted">
           La récupération des points se fait dans la limite du plafond du permis de conduire du titulaire.
           Pour rappel, il est possible d’effectuer un stage pendant une suspension de permis de conduire.

         </p>
        </div>
 </div>
</section>
<div class="container">
 <div class="row">
    <div class="text-center">
    <h1 class="title-text">A quoi ressemble un stage ?</h1>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="text-center">
      <i class="far fa-clock"></i>
      </div>
      <h3 class="text-stage">Le stage dure 14h, répartis sur deux jours consécutifs.
      On y aborde les facteurs généraux de l’insécurité routière,
      mais aussi des points spécifiques comme la vitesse, la fatigue, la drogue…
      </h3>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="text-center">
        <i class="fas fa-users"></i>
      </div>
     <h3 class="text-stage">
      La session se base sur l’échange et l’interaction entre les intervenants
      et les participants.Assister à l’ensemble du programme du stage permet
      de récupérer automatiquement 4 points sur son permis de conduire.
     </h3>
    </div>
 </div>
</div>
