<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>LES TESTS PSYCHOTECHNIQUES DU PERMIS DE CONDUIRE:</h3>
    </div>
    <h3 class="text-test">
      Le test psychotechnique du permis de conduire est un examen obligatoirement
       effectué par un psychologue permettant de récupérer son permis ou de passer
       un nouveau permis. L'examen est court, il dure 45 minutes et est constitué
        d'un entretien suivi de tests sur ordinateur.
      L’examen psychotechnique est à effectuer auprès d’un psychologue déclaré à la Préfecture.
      <br> <br> <br>
      POUR QUI LES TESTS PSYCHOTECHNIQUES SONT-OBLIGATOIRES?
      Le passage des tests psychotechniques dans le cadre du contrôle
      médical est obligatoire dans les cas suivants :

    </h3>
    </div>
</div>

<div class="container" >
    <nav class="navbar navbar-inverse">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
          <ul class="nav navbar-nav navbar">
            <li><%= link_to "invalidation ", invalidation_path , class: "btn btn-danger" %></li>
            <li><%= link_to "Annulation", annulation_path , class: "btn btn-danger" %></li>
            <li><%= link_to "Suspension ", suspension_path, class: "btn btn-danger" %></li>
          </ul>
          <div class="collapse nav navbar-nav nav-collapse" id="nav-collapse4">
            <form class="navbar-form navbar-right" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search" />
              </div>
              <button type="submit" class="btn btn-danger"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </form>
          </div>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav><!-- /.navbar -->

    <!-- Second navbar for profile settings -->

</div><!-- /.container-fluid -->
<div class="container">
  <div class="row">
    <div class="text-center">
      <h3> Invalidation de permis</h3>
    </div>
    <h3 class="text-test">
      Mon solde de points est de 0.
      J'ai été averti par un courrier de type recommandé/accusé de réception
       <b>(Lettre 48SI)</b> que je devais restituer sous 10 jours.
       L’invalidation dure 6 mois voire 1 an en cas de récidive. <br>
       <b>Je peux effectuer mon tests psychotechnique pendant ma période d’invalidation.</b>
        <br><br>

    	<b style="color:red;">Tant que vous n'avez pas encore reçu la lettre 48SI,
      et même si vous avez 0 point, il est parfois possible de faire
      un stage de récupération de points pour sauver son permis.
       Appelez nous au 06.93.46.30.64 (prix appel local)</b>
    </h3>

    <br>
      <h3 class="text-test">
        Prix d'un test psychotechnique
        Le test psychotechnique coûte 100€. Comme la visite médicale,
        ce tarif n'est pas remboursé, il est intégralement à votre charge.
        <br> <br>
        Damien Narsapa
        Numéro ADELI : 9D9305353
         <br> <br>

        <br> <br>
        Nous vous accueillons pour réaliser les tests psychotechniques aux adresses suivantes du lundi au vendredi de 7h à 17h : <br> <br>
        •	Cabinet de psychologie Nouvel HORIZON, 1 chemin du case Domenjod, 97490 Sainte-Clotilde
        <a href="#" role="button" data-toggle="modal" data-target="#exampleModal"">voir google map</a> <br>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Google map</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3727.0418574998166!2d55.50236231507428!3d-20.910635574949087!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2178803b1ce7e2c3%3A0x11c78d9c300671b2!2sCase+de+Domenjod!5e0!3m2!1sfr!2s!4v1548676408126"
                 width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                   </div>

              </div>
            </div>
          </div>

        <br>
        •	CREPS de Saint-Paul, 47 Boulevard du Front de mer, 97460 Saint-Paul
        <a href="#" role="button" data-toggle="modal" data-target="#exampleModal1"">voir google map</a>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Google map</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.7669711801523!2d55.27444921507609!3d-21.001976177958117!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x21828f04975c32e7%3A0x917dca3d6da0211f!2sCREPS+Saint-Paul!5e0!3m2!1sfr!2s!4v1548676828663" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>                   </div>

              </div>
            </div>
          </div>
         <br> <br>
        •	Technopôle du sud - Batiment Alpha Tech- 27 Avenue du Docteur Jean-Marie Dambreville, 97410 Saint-Pierre
        <a href="#" role="button" data-toggle="modal" data-target="#exampleModal2"">voir google map</a>
        <!-- Modal -->
          <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Google map</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3716.283019641416!2d55.48888031508277!3d-21.339328989183077!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2182a0a60a0b9129%3A0x8f93710786e1260a!2sPixel+OI!5e0!3m2!1sfr!2s!4v1548677090347" width="400" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              </div>
            </div>
          </div>

        <h3>Damien NARSAPA fait l’objet d’une déclaration à cet effet à la sous-Préfecture de Saint-Pierre:
        Sous-préfecture de Saint-Pierre, Service CERT PC/CIV
        18 Rue Augustin Archambaud 97410 La Réunion</h3>
         <br>
      </h3>
      <div class="#">
                <h3 class="text-test">Damien NARSAPA fait l’objet d’une déclaration à cet effet à la sous-Préfecture de Saint-Pierre:
                Sous-préfecture de Saint-Pierre,  <br>(Service CERT PC/CIV
                18 Rue Augustin Archambaud 97410 La Réunion)</h3>
      </div>
      <div class="text-center">

        <b style="font-size:30px;" class="text-center">Pour prendre un RDV : 0693463064</b>

      </div>

    </div>
</div>
