<div class="container">
  <div class="row">
    <div class="text-center">
      <h3>LES TESTS PSYCHOTECHNIQUES DU PERMIS DE CONDUIRE:</h3>
    </div>
    <p class="text-test">
      Le test psychotechnique du permis de conduire est un examen obligatoirement
       effectué par un psychologue permettant de récupérer son permis ou de passer
       un nouveau permis. L'examen est court, il dure 45 minutes et est constitué
        d'un entretien suivi de tests sur ordinateur.
      L’examen psychotechnique est à effectuer auprès d’un psychologue déclaré à la Préfecture.
      <br> <br> <br>
      POUR QUI LES TESTS PSYCHOTECHNIQUES SONT-OBLIGATOIRES?
      Le passage des tests psychotechniques dans le cadre du contrôle
      médical est obligatoire dans les cas suivants :

    </p>
    </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container">

    <!-- Collect the nav links, forms, and other content for toggling -->
      <ul id="nav-main" class="nav navbar-nav navbar-center" style=" display: inline-block;text-align: center;">
        <li><%= link_to " Invalidation de permis", test_path ,class: "btn btn-danger"%></li>
        <li><%= link_to "Annulation de permis ", root_path,class: "btn btn-danger"%></li>
        <li><%= link_to "Suspension de permis ", infos_stage_path, class: "btn btn-danger"%></li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle btn btn-danger" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <p>Je peux effectuer mon tests psychotechnique pendant ma période d’invalidation.

•	Tant que vous n'avez pas encore reçu la lettre 48SI, et même si vous avez 0 point, il est parfois possible de faire un stage de récupération de points pour sauver son permis. Appelez nous au 06.93.46.30.64 (prix appel local)

</p>
        </div>
      </li>
      </ul>

  </div><!-- /.container -->
</nav><!-- /.navbar -->
