<div class="container-fluid">
 <div class="row ">
  <div class="col-md-6">
   <h2>
    <br>
    <center>

     <h1 class="error">OH NON ! </h1>
     <h3> La page que vous demandez n'est pas ici ! <br> Code erreur : 404 </h3>
     <h3> Pour retourner à l'accueil c'est ici <%= link_to 'Accueil', root_path  %> </h3>
     </center>
   </h2>
  </div>

  <div class=" col-md-6">
   <h2>
    <br>
    <center>
      <i class="fas fa-meh-rolling-eyes" style="font-size:200px;"></i>
      <!--<img src="https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif" width="313" height="428" class="hide-sm" alt="Une fillette fait tomber sa glace.">-->
     </center>
   </h2>
  </div>

 </div>
</div>
