<div class="container-fluid show">
 <div class="fond">
  <div class="row">
    <div class="col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10" id="zone_show_resa">
      <div class="text-center">
        <h3 class="text_systeme">Merci pour votre paiement
        <strong><%= @reservation.price %></strong> euros! <br/>
      </div>
      <br>

        <h4>Infos pratique</h4> <br>
        <h4>Le stage est présenté par Damien narsapa, <br>
        Vous pouvez me contacter au : 06 93 46 30 64 ou par mail damien.narsapa@permisapoints974.re</h4> <br>
        1.	"Veuillez vous présenter 15 minutes avant le début du stage" <br>
        2.	"Vous devrez présenter une pièce d'identité valide" <br>
        3.	"Vous devrez présenter votre permis de conduire/Avis de suspension ou d'invalidation" <br>
        4.	"le courrier 48N, si vous êtes un permis probatoire et <br>
     dans l'obligation de participer à un stage de récupération de points."

        <br>
        PERMIS A POINTS 974 est un CSSR (Centre de Sensibilisation à la Sécurité Routière) <br>
         agréé par la préfecture de La Réunion depuis le 06 Décembre 2018  <br>
         et enregistré sous le numéro d’exploitation : R 18 974 0003 0.


      <h3><%= link_to "Retour sur la page d'accueil", root_path, class:"btn btn-info btn-rounded btn-lg" %></h3><br/>
    </div>
    </div>
  </div>
 </div>
